.navbar-default {
    background-color: #2C3E50;
    height: 100px;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 40px;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar {
    border: 0;
    border-radius: 0;
}

.navbar-nav.navbar-right {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 25px;
}

.navbar-default .navbar-toggle {
    margin-top: 32px;
}

.jumbotron .container img {
    width: 250px;
}

.jumbotron .container h1 {
    margin-top: 50px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.jumbotron {
    background-color: #1ABC9C
}

.separazione {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: 300px;
}

.separazione::after,
.separazione::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc((100% - 50px) / 2);
    height: 4px;
    background-color: white;
}

.separazione::before {
    left: 0;
}

.separazione::after {
    right: 0;
}

.fa-star {
    font-size: 30px;
    color: white;
}

.jumbotron .container p {
    color: white;
    font-size: 15px;
    font-weight: bold;
}
